/*Colores*/
/* Media query */
main {
  font-family: 'Poppins', sans-serif;
  /*  background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%); */
  background-color: white;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

body.dark main {
  background-color: #111B21;
}

main .carousel {
  padding-top: 4rem;
}

main .card {
  width: 18rem;
  background-color: #FFF9F1;
}

.nav-item .nav-link {
  cursor: pointer;
  margin-top: .3rem;
}

.nav-item .nav-link .cart-quantity {
  color: white;
  top: -.5rem;
  right: 1.2rem;
  width: 1.3rem;
}

.nav-item .nav-link .switch {
  background-color: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  bottom: 5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.nav-item .nav-link .switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.nav-item .nav-link .switch.active {
  background-color: orange;
  color: #111B21;
}

.nav-item .nav-link .switch.active::after {
  right: 0;
  left: unset;
}

.nav-item .nav-link .switch span {
  width: 25px;
  height: 29px;
  line-height: 30px;
  display: block;
  background-color: none;
  color: white;
}

.navbar {
  background-color: #ffc107;
  font-family: sans-serif;
  z-index: 100;
}

body.dark .navbar {
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  background-color: #111B21;
  border-bottom: 1px solid white;
}

body.dark .navbar a {
  color: white;
}

body.dark .navbar a:hover {
  color: #ffc107;
}

.navbar a:hover {
  color: #dc3545;
}

.search-bottom {
  background-color: #ffc107;
  height: 3rem;
  position: fixed;
  top: 4rem;
  z-index: 200;
}

.search-bottom .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body.dark .search-bottom {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #111B21;
}

.cart-modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

.cart-modal-overlay .cart-modal {
  height: 100vh;
  width: 34%;
  background-color: #FFF9F1;
  float: right;
  overflow: scroll;
  overflow-x: hidden;
  color: #323232;
}

.cart-modal-overlay .cart-modal #close-btn {
  cursor: pointer;
}

.cart-modal-overlay .cart-modal #close-btn:hover {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  color: #dc3545;
}

.section-2 .filters {
  background-color: #ffc107;
  position: -webkit-sticky;
  position: sticky;
  top: 3.5rem;
  z-index: 100;
}

.section-2 .filters .check {
  cursor: pointer;
}

body.dark .section-2 .filters {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #111B21;
  border-bottom: 1px solid white;
  color: white;
}

.card-container {
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.card-container .empty-img {
  width: 20rem;
  height: 20rem;
}

.card-container .empty {
  color: red;
  margin-bottom: 20rem;
}

.card-container .empty-dark {
  color: #ffc107;
  margin-bottom: 20rem;
}

.footer {
  background-color: #ffc107;
  height: 4rem;
}

body.dark .footer {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #111B21;
  border-top: 1px solid white;
}

body.dark .footer a {
  color: white;
}

body.dark .footer a:hover {
  color: #ffc107;
}

body.dark .footer h5 {
  color: white;
}

body.dark .footer h5 i:hover {
  color: #dc3545;
}

.footer h5 i:hover {
  color: #dc3545;
}

.footer h5 a {
  text-decoration: none;
  color: #0d6efd;
}

.footer h5 a:hover {
  color: #dc3545;
}

@media only screen and (max-width: 768px) {
  main .carousel {
    padding-top: 7rem;
  }
  main .section-2 .filters {
    top: 6.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */