@import "colors"; 
/* Media query */
$tablet: 768px; 

main{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
    .carousel{
        padding-top: 4rem;
    }
    .card{
        width: 18rem;
    }
}

.nav-item{
    .nav-link{
        cursor: pointer;
        margin-top: .3rem;
        span{
            color: white;
            top: -.5rem;
            right: 1.2rem;
            width: 1.3rem;
        }
    }
}

.navbar{
    background-color: $yellow;
    font-family: sans-serif; 
   z-index: 100;

    a{
        
        &:hover{
            color:$red;
        }
    }

   
}

.search-bottom{
    background-color: $yellow;
    height: 3rem;
    position: fixed;
    top:4rem;
    z-index: 200;
    .form-control:focus{
            box-shadow: none;
    }
}

.cart-modal-overlay{
    position:fixed;
    width: 100vw;
    height: 100%;
    background-color:rgba(0, 0, 0, .5);
    z-index: 500;
    transform:translateX(-200%);
    transition: .5s ease-out;

    .cart-modal{
        height: 100vh;
        width: 34%;
        background-color: white;
        float: right;
        overflow: scroll;
        overflow-x: hidden;
        color: rgb(50,50,50);

        #close-btn{
            cursor:pointer;
        }
    }
}

.section-2{
    .filters{
        background-color: $yellow;
        position:sticky;
        top: 3.5rem;
        z-index: 100;   
    }
}

.card-container{
    padding-top: 8rem;
    padding-bottom: 4rem;
}

.footer{
    background-color: $yellow;
    height: 4rem;

    h5{
        i:hover{
            color: $red;
        }
        a{
            text-decoration: none;
            color: $blue;

            &:hover{
                color: $red;
            }
        }

    }
}



@media only screen and (max-width:$tablet){
    main{
        .carousel{
            padding-top: 7rem;
        }

        .section-2{
            .filters{            
                top: 6.5rem;   
            }
        }
    }
}