@import "colors"; 
/* Media query */
$tablet: 768px; 

main{
    font-family: 'Poppins', sans-serif;
   /*  background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%); */
   background-color: white;
    transition: 0.3s ease-in;
    body.dark & {
        background-color: $dark;
    }
    .carousel{
        padding-top: 4rem;
    }
    .card{
        width: 18rem;
        background-color:#FFF9F1;
    }
}

.nav-item{
    .nav-link{
        cursor: pointer;
        margin-top: .3rem;
        .cart-quantity{
            color: white;
            top: -.5rem;
            right: 1.2rem;
            width: 1.3rem;
        }

    // Dark-mode-btn

        .switch{
            background-color: #343d5b;
            border-radius: 1000px;
            border: none;
            position: relative;
            bottom: 5px;
            cursor: pointer;
            display: flex;
            outline: none;

            &::after{
                content: "";
                display: block;
                width: 30px;
                height: 30px;
                position: absolute;
                background-color: #f1f1f1;
                top: 0;
                left: 0;
                right: unset;
                border-radius: 100px;
                transition: .3s ease all;
                box-shadow:  0px 0px 2px 2px rgba(0,0,0,.2);
            }

            &.active{
                background-color: orange;
                color: $dark;

                &::after{
                    right: 0;
                    left: unset;
                }
            }
            span{
                width: 25px;
                height: 29px;
                line-height: 30px;
                display: block;
                background-color: none;
                color: white;
            }
        }
    }
}

.navbar{
    background-color: $yellow;
    font-family: sans-serif; 
   z-index: 100;
   
   body.dark & {
       transition: 0.3s ease-in;
    background-color: $dark;
    border-bottom: 1px solid white;
    a{
        color: white;

        &:hover{
            color: $yellow;
        }
    }
   }

    a{
        
        &:hover{
            color:$red;
        }
    }

   
}

.search-bottom{
    background-color: $yellow;
    height: 3rem;
    position: fixed;
    top:4rem;
    z-index: 200;
    .form-control:focus{
            box-shadow: none;
    }

    body.dark & {
        transition: 0.3s ease-in-out; 
        background-color: $dark;
    }
}

.cart-modal-overlay{
    position:fixed;
    width: 100vw;
    height: 100%;
    background-color:rgba(0, 0, 0, .5);
    z-index: 500;
    transform:translateX(-200%);
    transition: .5s ease-out;

    .cart-modal{
        height: 100vh;
        width: 34%;
        background-color: #FFF9F1;
        float: right;
        overflow: scroll;
        overflow-x: hidden;
        color: rgb(50,50,50);

        #close-btn{
            cursor:pointer;

            &:hover{
                transition: all .2s ease;
                color: $red;
            }
        }
    }
}

.section-2{
    .filters{
        background-color: $yellow;
        position:sticky;
        top: 3.5rem;
        z-index: 100; 

        .check{
            cursor: pointer;
        }
        body.dark & {
            transition: 0.3s ease-in-out; 
            background-color: $dark;
            border-bottom:1px solid white;
            color: white;
        }
    }
}

.card-container{
    padding-top: 8rem;
    padding-bottom: 4rem;
}

.footer{
    background-color: $yellow;
    height: 4rem;

    
   body.dark & {
    transition: 0.3s ease-in-out;
    background-color: $dark;
    border-top: 1px solid white;
    a{
        color: white;
        &:hover{
            color: $yellow;
        }
    }

    h5{
        color: white;
        
        i:hover{
            color:$red;
        }
    }
   }

    h5{
        i:hover{
            color: $red;
        }
        a{
            text-decoration: none;
            color: $blue;

            &:hover{
                color: $red;
            }
        }

    }
}




@media only screen and (max-width:$tablet){
    main{
        .carousel{
            padding-top: 7rem;
        }

        .section-2{
            .filters{            
                top: 6.5rem;   
            }
        }
    }
}